<div class="col-md-3 col-md-offset-2">

<h1><%= @division.name %></h1>
<% if @division.employees().any? %>
  <ul>
    <% @division.employees.each do | employee | %>
      <li><%= employee.name %></li>
    <% end %>
  </ul>
<% end %>

<h3>Add a employee to a division</h3>

  <form class="form-group" action="/employee/new" method="post">
    <label for="employee-name">employee name</label>
    <input class="form-control" type="text" name="employee-name">
    <input type="hidden" name="division_id" value="<%= @division.id %>">
    <button class="btn btn-primary" type="submit">Add Employee</button>
  </form>

</div>
