<div class="col-md-3 col-md-offset-2">

<h1><%= @division.name %></h1>
<% if @division.employees().any? %>
  <ul>
    <% @division.employees.each do | employee | %>
      <li><%= employee.name %></li>
    <% end %>
  </ul>
<% end %>

<h3>Add an existing employee to a division</h3>

  <% if @division.employees().any? %>
    <form class="form-group" action="/division/employee/add" method="post">
      <label for="employee_id">Add an Employee</label>
       <select id='employee_id' name='employee_id' type='text' required>
         <option value=""></option>
         <% @division.employees.each() do |employee| %>
           <option value="<%= employee.id()%>"> <%= employee.name() %></option>
         <% end %>
       </select>
      <button class="btn btn-primary" type="submit">Add Stop</button>
    </form>
  <% else %>
  <a href="/">Add a new employee</a>
  <% end %>
</div>
